.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.logout-button{
    color: white;
}

.logo{
    width: 100px;
    height: 100px;
}